body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

.card {
    border-radius: 10px;
}

.video-feed {
    overflow-y: auto;
    max-height: 80vh;
    padding: 1rem;
}
